@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: satoshiBold;
  src: url('/fonts/SatoshiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: satoshiMedium;
  src: url('/fonts/SatoshiMedium.ttf') format('truetype');
  font-weight: 480;
  font-style: normal;
}

@font-face {
  font-family: satoshiRegular;
  src: url('/fonts/SatoshiRegular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: satoshiRegular;
  color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  
  background-image: url('/bg-mobile.svg') !important;
  background: url('/bg-mobile.svg') !important;
  background-size: contain !important;
  background-color: red;
  background-attachment:fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.box{
  width:100%;
  min-height: 100vh;
  height:100vh;
  bottom: 0;
  background:transparent;
  position:absolute;
  overflow:hidden;
}

.circle{
  background:#ffffff50;
  width:120px;
  height:120px;
  border-radius:50%;
  position:absolute;
  filter: blur(100px);
  
  transform:translate3d(-50%,-50%,0);
  transition:transform 0.2s cubic-bezier(.02,1.23,.79,1.08);
}
.bg-mobile{
  background-image: url('/bg-mobile.svg') !important;
  background: url('/bg-mobile.svg') !important;
  background-size: cover !important;
}
.backdrop-filter-blur{
  backdrop-filter: blur(20px) !important;
}